.polycentrics {
    width: 25%;
    margin: auto;
}

.board {
    width: 100%;
    height: auto;
}

.point {
    /* Not supported in all browsers! (https://svgwg.org/svg2-draft/geometry.html#R) */
    r: 0.1;
}

.point-gamma { fill: blue; }

.point-delta { fill: green; }